*{
        
    font-family: sans-serif;
    
}

.navbar-brand{
   
}
.container{
    height: 50%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius:10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.);


}
.container blockquote{
   
    
    font-weight: bold;
    border-radius: 3px;
    height:20px;
    align-items: center;
    background-radius: 3px;
    text-align: center;
    
    
}

.container img{
    background-color: transparent;
    background-attachment: fixed;
    max-width: 200px;
    max-height: 200px;
    
}

 #klik{
    color: white;
    
    position: absolute;
    margin-top: 50px;
    margin-left: -60px;
    border-radius: 5px;
    background-color: black;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}


